<!DOCTYPE html>
<html class="borderbox">
  <!-- Html Head Tag-->
  <%- partial('_partial/html-head') %>
  <body>
    <%- body %>

    <%- partial('_partial/footer') %>

    <%- partial('_partial/after-footer') %>
  </body>
</html>

