html, body {
  color: $theme-text-color;
  background-color: $theme-background;
  @include base-font-size(100%);
}
a {
  color: $theme-color;
  &:hover{
    text-decoration: none;
    @include color-revert;
    transition: all .25s;
    cursor: pointer;
  }
}
strong {
    color: $theme-text-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $theme-text-color;
}

pre, code {
    font-family: Menlo,Monaco,Consolas,"Andale Mono","lucida console","Courier New",monospace;
}

@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1521897147035'); /* IE9*/
  src: url('iconfont.eot?t=1521897147035#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAAUAAAsAAAAAB0wAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADMAAABCsP6z7U9TLzIAAAE8AAAARAAAAFZW7kmCY21hcAAAAYAAAABeAAABhp+YBr5nbHlmAAAB4AAAATQAAAE4KmfWQ2hlYWQAAAMUAAAALwAAADYQ2CNsaGhlYQAAA0QAAAAcAAAAJAfeA4RobXR4AAADYAAAAAwAAAAMC+kAAGxvY2EAAANsAAAACAAAAAgAdgCcbWF4cAAAA3QAAAAfAAAAIAESAF1uYW1lAAADlAAAAUUAAAJtPlT+fXBvc3QAAATcAAAAIgAAADPdeNt9eJxjYGRgYOBikGPQYWB0cfMJYeBgYGGAAJAMY05meiJQDMoDyrGAaQ4gZoOIAgCKIwNPAHicY2Bk/sE4gYGVgYOpk+kMAwNDP4RmfM1gxMjBwMDEwMrMgBUEpLmmMDgwVDyfwdzwv4EhhrmBoQEozAiSAwAuuA0FeJzFkMENgDAMAy9t6QMxCA8G4sUcHaUbdoxiQnkwQS05VhxLiQIsQBQPMYFdGA9OueZ+ZHU/eSZLjUBptXf1nyqiWXYNKplpsHmr/9i87qPTVyiDOrHVl4Qb2aoN8wAAeJwNj79OwkAcgO9357UFoZXrn2sLBUqBk6ANlookxrK4aBxMnBxNgE03wuJA0pg4OJjwBsaEwVdg40mMvIAvgPbLN3/JhyhCf99kTWyko0N0gi7RLUIgdaGhYg98EYe4C6ZPTW6oRATCl4NGSC6ANyTDigZxm0uypIEKVej70UCEWMBpnOBziCwPwCm7d6xVYeQd8raovuyu8QeYtaCiJce7q6OREdV1ZV5gzGHsTZEoVTDe01R45FaO5vLS7pNqrrmudXANCo5wb+6L9TJ7eI2fvBbPASwWoJfr6mpUckuZz66lM0c+KCq2WwyaBsy3+7Ze8No/KAOy11/yRVD2iqgIQSRwFlk8gX4VuAoyRslqQ0g6GY6bzfFwkhKyWWnD5XY2TXGv0+nhdDrbLrPUP58KNId4nGNgZGBgAGKzhkLxeH6brwzcLAwgcO1O/m4E/f8hCwOzBJDLwcAEEgUAJp4KsAB4nGNgZGBgbvjfwBDDwgACQJKRARUwAwBHCQJsBAAAAAPpAAAEAAAAAAAAAAB2AJx4nGNgZGBgYGYIZGBlAAEmIOYCQgaG/2A+AwAQ9wFwAHicZY9NTsMwEIVf+gekEqqoYIfkBWIBKP0Rq25YVGr3XXTfpk6bKokjx63UA3AejsAJOALcgDvwSCebNpbH37x5Y08A3OAHHo7fLfeRPVwyO3INF7gXrlN/EG6QX4SbaONVuEX9TdjHM6bCbXRheYPXuGL2hHdhDx18CNdwjU/hOvUv4Qb5W7iJO/wKt9Dx6sI+5l5XuI1HL/bHVi+cXqnlQcWhySKTOb+CmV7vkoWt0uqca1vEJlODoF9JU51pW91T7NdD5yIVWZOqCas6SYzKrdnq0AUb5/JRrxeJHoQm5Vhj/rbGAo5xBYUlDowxQhhkiMro6DtVZvSvsUPCXntWPc3ndFsU1P9zhQEC9M9cU7qy0nk6T4E9XxtSdXQrbsuelDSRXs1JErJCXta2VELqATZlV44RelzRiT8oZ0j/AAlabsgAAAB4nGNgYoAALgbsgJmRiZGZkYWBsYI1IzWxqISBAQARwQKuAAA=') format('woff'),
  url('iconfont.ttf?t=1521897147035') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1521897147035#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heart:before { 
  content: "\e798"; 
}
.heart {
  color: red;
}
