<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
        <p class="copyright text-muted">
          <span id="hitokoto"></span>
        </p>
        <p class="copyright text-muted">
          Theme By
          <a target="_blank" href="https://github.com/levblanc">Levblanc</a> &
          <a target="_blank" href="https://github.com/a632079">a632079.</a>
          Inspired By
          <a target="_blank" href="https://github.com/klugjo/hexo-theme-clean-blog">Clean Blog.</a>
          <p class="copyright text-muted">
            Powered By
            <a target="_blank" href="https://hexo.io/">Hexo.</a> Make it with ♥.
            <a href="http://www.miibeian.gov.cn/" target="_blank">苏ICP备17002503号-1</a>.
          </p>
      </div>
    </div>
  </div>
</footer>