/* normal style */

.post-tags,
.post-info {
    font-size: remify(14px);
    font-style: italic;
    text-align: center;
}

.post-info {
    margin-bottom: remify(5px);
    .info {
        padding: 0 remify(8px);
        border-right: 1px dotted $theme-dotted-seperator;
        &:last-child {
            border-right: none;
        }
    }
    .categories a {
        padding: remify(2px) remify(4px);
        border-radius: remify(2px);
    }
}

.post-tags {
    font-style: italic;
    >a {
        display: inline-block;
        padding: 0 remify(4px);
        margin-right: remify(2px);
        border-radius: remify(2px);
        border-bottom: none;
    }
}

.post-content {
    padding-top: remify(40px);
    padding-bottom: remify(40px);
    font-size: remify(15px);
}

blockquote {
    $color: $theme-blockquote-color;
    border-left: 5px solid $theme-blockquote-borderColor;
    color: $color;
    background-color: $theme-blockquote-bgcolor;
    padding-top: remify(5px);
    padding-bottom: remify(5px);
    padding-left: remify(1em);
    >p {
        margin-bottom: 0 !important;
    }
    strong,
    em {
        margin: 0 !important;
        color: $color !important;
    }
    em {
        font-style: oblique;
    }
}

#toc {
    width: 14em;
    position: absolute;
    top: remify(20px);
    right: -15em; // background-color: rgb(255, 242, 242);
    color: #333;
    border-left: #ffac02 solid 2px;
    padding-left: 1em;
    >ol {
        li {
            list-style: none;
            >a {
                border-bottom: none;
            }
        }
    }
    >li {
        list-style: none;
        >a {
            border-bottom: none;
        }
    }
}

p {
    >a {
        padding-left: remify(3px);
        padding-right: remify(3px);
    }
}

a {
    &:hover {
        color: #ffffff !important;
    }
}

// Friendship
.friendship {
    .card {
        margin-bottom: 1.5rem;
    }
    .card:hover {
        background-color: rgb(230,230,230);
    }

    >div>div>div>div {
        // Card Body
        >h1 {
            // Name
            margin: 0;
            margin-left: 3em;
        }
        >p {
            // Description
            margin: 0;
            margin-left: 6em;
            margin-top: 0.15em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        >img {
            // Logo Pictrue
            border: remify(2px) solid #bbb;
            border-radius: 50%;
            width: 5em;
            height: 5em;
            float: left;
        }
    }
}

/* mobile style */

@media only screen and (max-width: 414px) {
    .post-tags,
    .post-info {
        font-size: remify(12px);
        .info {
            padding: 0 remify(5px);
        }
        .time {
            display: none;
        }
    }
    .post-content {
        font-size: remify(12.5px);
    }
}

@media only screen and (max-width: 992px) {
    #toc {
        margin-top: remify(10px);
        position: unset;
    }
}

