/* normal style */

.post-tags,
.post-info {
    font-size: remify(14px);
    font-style: italic;
    text-align: center;
}

.post-info {
    margin-bottom: remify(5px);
    .info {
        padding: 0 remify(8px);
        border-right: 1px dotted $theme-dotted-seperator;
        &:last-child {
            border-right: none;
        }
    }
    .categories a {
        padding: remify(2px) remify(4px);
        border-radius: remify(2px);
    }
}

.post-tags {
    font-style: italic;
    >a {
        display: inline-block;
        padding: 0 remify(4px);
        margin-right: remify(2px);
        border-radius: remify(2px);
        border-bottom: none;
    }
}

.post-content {
    padding-top: remify(40px);
    padding-bottom: remify(40px);
    font-size: remify(15px);
}

blockquote {
    border-left: 5px solid #1abc9c;
    color: #00a777;
    background-color: #e6fffa;
}

#toc {
    width: 14em;
    position: absolute;
    top: remify(20px);
    right: -15em;
    // background-color: rgb(255, 242, 242);
    color: #333;
    border-left: #ffac02 solid 2px;
    padding-left: 1em;
    ol {
        li {
            list-style: none;
            a {
                border-bottom: none;
            }   
        }
    }
}


p {
    > a {
        padding-left: remify(3px);
        padding-right: remify(3px);
    }
}

a {
    &:hover {
    color: #ffffff !important;
    }
}

/* mobile style */

@media only screen and (max-width: 414px) {
    .post-tags,
    .post-info {
        font-size: remify(12px);
        .info {
            padding: 0 remify(5px);
        }
        .time {
            display: none;
        }
    }
    .post-content {
        font-size: remify(12.5px);
    }
}