/* normal style */

.site-header {
    position: relative;
    
    // Reset Flex BOX
    display: -webkit-box; // Support for Old Browser
    display: -ms-flexbox; // Support for IE
    display: -webkit-flex; // Support Safari
    display: flex;
    align-items: center; // Content Center

    height: remify(30rem);
    padding: remify(40px) 0;
    border-bottom: 1px solid $theme-seperator;
    margin-bottom: remify(30px);
    &.header-background {
        border-bottom: 0;
        background-color: gray;
        background-position: center center;
        background-attachment: scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3)
    }
    .page-title {
        font-family: 'Noto Serif SC', serif;
        font-weight: 800;
        color: $theme-color;
        text-align: center;
        text-shadow: 1px 1px 2px $color-black;
        &.with-background-image {
            color: $color-white;
            padding: remify(50px) 0;
            padding-top: 0;
        }
        .title {
            font-size: 2.5em;
        }
    }
}

.site-menu {
    text-align: center;
    margin-top: remify(10px);
    text-shadow: 3px 3px 3px $color-black;
    ul {
        margin: 0 auto;
        padding: 0;
        >li {
            display: inline-block;
            margin-right: remify(10px);
            &:last-child {
                margin-right: 0;
            }
            >a {
                font-family: 'Ma Shan Zheng', cursive;
                font-size: 1.2em;
                padding: remify(3px) remify(10px);
                border-radius: remify(2px);
            }
        }
    }
    &.with-background-image {
        a {
            color: $color-white;
        }
    }
}

/* mobile style */

@media only screen and (max-width: 414px) {
    .site-header {
        height: auto; // Fix style for Mobile
        .page-title {
            &.with-background-image {
                padding: remify(30px) 0;
            }
            .title {
                font-size: 1.9em;
            }
        }
    }
    .site-menu {
        font-size: 0.9em;
        ul li {
            margin-right: 0;
            >a {
                padding: remify(3px) remify(6px);
            }
        }
    }
}
