/* normal style */

.pagination {
    display: block;
    text-align: center;
    overflow: hidden;
    padding-top: remify(0.5em);
    >li {
        display: inline-block;
        margin-bottom: remify(1em);
        >a {
            color: $theme-color;
            background-color: $theme-background;
            border: 1px solid $theme-color;
            border-radius: remify(3px);
            padding: remify(3px);
            padding-right: 0.5em;
            padding-left: 0.5em;
            &:hover {
                @include color-revert;
                border: 1px solid $theme-color;
            }
            span {
                display: inline-block;
            }
        }
    }
}

/* mobile style */

@media only screen and (max-width: 414px) {
    .pagination {
        font-size: remify(14px);
    }
}
